<div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h3>
                <i class="fa-solid fa-pen"></i>                                    
                &nbsp; Edit Contact Page
            </h3>
            <p style="text-align: justify;">
                This is dummy data : Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore recusandae harum
                quidem voluptates nulla reprehenderit consequuntur, quam est laudantium qui modi labore laborum
                molestiae omnis beatae eligendi! Nostrum, libero dicta?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sit maiores cum quia nemo. Nihil modi
                assumenda facilis voluptatum commodi, impedit sed suscipit quod alias at pariatur minima inventore! Ut.
            </p>
        </div>
    </div>
   
    <!-- update contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="" class="border p-3 rounded">
                    <div class="mb-2">
                        <input type="text" placeholder="Name" class="form-control" name="name" [(ngModel)] = "contact.name">
                    </div>
                    <div class="mb-2">
                        <input type="text" placeholder="Photo URL" class="form-control" name="photo" [(ngModel)] = "contact.photo">
                    </div>
                    <div class="mb-2">
                        <input type="text" placeholder="Email ID" class="form-control" name="email" [(ngModel)] = "contact.email">
                    </div>
                    <div class="mb-2">
                        <input type="text" placeholder="Mobile Number" class="form-control" name="mobile" [(ngModel)] = "contact.mobile" >
                    </div>
                    <div class="mb-2">
                        <input type="text" placeholder="Company" class="form-control" name="company" [(ngModel)] = "contact.company">
                    </div>
                    <div class="mb-2">
                        <input type="text" placeholder="Title" class="form-control" name="title" [(ngModel)] = "contact.title">
                    </div>
                    <div class="mb-2">
                        <select name="groupId" [(ngModel)] = "contact.groupId" id="" class="form-control">
                            <option value="{{ group.id }}" *ngFor="let group of allGroups">{{ group.name}}</option>
                        </select>                    
                    </div>
                    <div class="mb-2">
                        <input (click) = updateContact() type="button" value="Update" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4 mt-3">
                <img class="contact-image" [src]="contact.photo" alt="">
            </div>
        </div>
    </div>
</div>