<div class="container title mt-3">
    <div class="row">
        <div class="col">
            <h3>Contact Management App
                <a routerLink="/contacts/add" class="btn btn-success">
                    <i class="fa-solid fa-user-plus"></i>
                    &nbsp; Add New
                </a>
            </h3>
            <p style="text-align: justify;">
                This is dummy data : Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore recusandae harum
                quidem voluptates nulla reprehenderit consequuntur, quam est laudantium qui modi labore laborum
                molestiae omnis beatae eligendi! Nostrum, libero dicta?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sit maiores cum quia nemo. Nihil modi
                assumenda facilis voluptatum commodi, impedit sed suscipit quod alias at pariatur minima inventore! Ut.
            </p>

            <div class="row">
                <div class="col-6">
                    <input (keyup)="search($event)" class="form-control" type="text" name="" id="" placeholder="Search contact here">
                </div>
                <!-- <div class="col-6">
                    <button class="btn btn-outlin-dark">Search</button>
                </div> -->
            </div>
            <!-- <pre>
                {{allContacts | json}}
            </pre> -->
            <!-- card design -->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 mt-3" *ngFor="let contact of allContacts | filter : searchKey : 'name'">
                        <div class="card list-group-item-secondary">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <!-- contact image -->
                                <div class="col-4">
                                    <img class="contact-image" [src]="contact.photo" alt="" height="150px">
                                </div>
                                <!-- contact details -->
                                <div class="col-7">
                                    <ul class="list-group">
                                        <li class="list-group-item list-font">Name :<b>{{ contact.name }}</b></li>
                                        <li class="list-group-item list-font">Email:<b>{{ contact.email }}</b></li>
                                        <li class="list-group-item list-font">Mobile:<b>{{ contact. mobile}}</b></li>
                                      </ul>
                                </div>
                                <div class="col-1 d-flex flex-column justify-content-center align-items-center">
                                    <a routerLink="/contacts/view/{{ contact.id }}" class="btn btn-warning">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a routerLink="/contacts/edit/{{ contact.id }}" class="btn btn-success mt-1">
                                        <i class="fa-solid fa-pen"></i>                                    
                                    </a>
                                    <button (click)="deleteContact(contact.id)" class="btn btn-danger mt-1">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>